@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  font-family: 'Quicksand' !important;
}

body {
  margin: 0;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Quicksand', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}