# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Dockerize

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run build --if-present
    - name: Docker Login
      # You may pin to the exact commit or the version.
      # uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      uses: docker/login-action@v1.10.0
      with:
        # Username used to log against the Docker registry
        username: razdeep
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - run: docker build -t razdeep/konsign-ui:${{ github.ref_name }}.${{ github.sha }} .
    - run: docker push razdeep/konsign-ui:${{ github.ref_name }}.${{ github.sha }}
    
    - name: Build, Push and Release a Docker container to Heroku.
      # uses: gonuit/heroku-docker-deploy@9ab97585f979857642d66612a2ae4062b3347d53
      # This action rebuild the docker image again (though it is built earlier once) and pushes to heroku
      uses: gonuit/heroku-docker-deploy@v1.3.3
      with:
        heroku_app_name: konsign
        email: rrajdeeproychowdhury@gmail.com
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
